<div *ngFor="let field of formFields">
<div class="container">
  <div class="row mt-5">
    <h2 class="text-primary mb-5">Izaberi casopis u kojem zelis da objavis rad:</h2>
  </div>
  <div class="row ml-auto mr-auto">
    <div class="col col-md-3 mb-5 mr-5" *ngFor="let key of enumValues">
      <div class="card bg-dark text-light" style="height: 10rem;width: 20rem;">
        <div class="card-body">
          <table class="table text-dark">
            <tr>
              <td>Naziv: </td>
              <td>{{field.type.values[key]}}</td>
            </tr>
          </table>
          <button class="btn btn-outline-light custom ml-3 mb-1" (click)="onSelect(field.id,key)">Izaberi</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>