<div>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

  <div *ngFor="let field of formFields" >
      <label for={{field.id}}>{{field.label}}</label>

      <input type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'" [ngClass]="{'invalidField': field.err==true}">
      <input type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'" [ngClass]="{'invalidField': field.err==true}">
      <input type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'" [ngClass]="{'invalidField': field.err==true}">
      <select name="{{field.id}}" ngModel *ngIf="field.type.name=='enum'">
        <option *ngFor="let val of enumValues" value={{val}}>
          {{field.type.values[val]}}
        </option>
      </select>
      <select name="{{field.id}}" ngModel *ngIf="field.type.name.includes('multi-select')">
        <option *ngFor="let val of field.type.values | keyvalue" value={{val}}>
          {{val.value}}
        </option>
      </select>
      <div *ngIf="field.err">
        {{field.errMsg}}
      </div>
  </div>
  
  <input type="submit">
</form>
</div>