<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-blue">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Task</h1>
                    <div class="px-2">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
                          <div *ngFor="let field of formFields"  class="form-group">
                            
                              <label for={{field.id}}>{{field.label}}</label>
                             
                                <input type="text" name={{field.id}} [(ngModel)]="field.value.value"  *ngIf="field.type.name=='string' && (field.properties | json) == '{}'" class="form-control" id="{{field.id}}" [readonly]="isReadonly(field.validationConstraints)">
                                <input type="checkbox" name={{field.id}} [(ngModel)]="field.value.value"  *ngIf="field.type.name=='boolean'" class="form-control" id="{{field.id}}" [readonly]="isReadonly(field.validationConstraints)">
                                <input type="number" name={{field.id}} [(ngModel)]="field.value.value"  *ngIf="field.type.name=='long'" class="form-control" id="{{field.id}}" [readonly]="isReadonly(field.validationConstraints)">
                                <select name="{{field.id}}" [(ngModel)]="field.value.value" *ngIf="field.type.name=='enum'" class="form-control" id="{{field.id}}">
                                  <option *ngFor="let val of enumValues" value={{val}}>
                                    {{field.type.values[val]}}
                                  </option>
                                </select>
                                
                                
                                <ng-multiselect-dropdown
                                  [placeholder]="Izaberi"
                                  [data]="multiselectList[field.id]"
                                  [(ngModel)]="selectedItems[field.id]"
                                  [settings]="dropdownSettings"
                                  (onSelect)="onItemSelect($event)"
                                  (onSelectAll)="onSelectAll($event)"
                                  *ngIf="field.type.name.includes('multi-select')"
                                  name={{field.id}}
                                >
                                </ng-multiselect-dropdown>
                                
                                
                                <ng-template #contentChild let-modal>
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">{{field.id}}</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form #f="ngForm"  ngNativeValidate>
                                      <div *ngFor="let prop of field.properties | keyvalue"  class="form-group">
                                        <div *ngIf="prop.key!='type'">
                                          <label for={{prop.key}}>{{prop.key}}</label>
                                         
                                            <input type="text" name={{prop.key}} [(ngModel)]="child[prop.key]"  *ngIf="prop.value=='string'" class="form-control" id="{{prop.key}}">
                                            <input type="checkbox" name={{prop.key}} [(ngModel)]="child[prop.key]"  *ngIf="prop.value=='boolean'" class="form-control" id="{{prop.key}}">
                                            <input type="number" name={{prop.key}} [(ngModel)]="child[prop.key]"  *ngIf="prop.value=='long'" class="form-control" id="{{prop.key}}">
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close(child)">Save</button>
                                  </div>
                                </ng-template>

                                <button type="button" class="btn btn-outline-primary" (click)="openChild(contentChild,field.id)" *ngIf="field.properties['type']=='json'">Add</button>
                                <input type="text" name={{field.id}} [(ngModel)]="field.value.value"  *ngIf="field.properties['type']=='json'" class="form-control" id="{{field.id}}" hidden="true">

                                

                                <input ng2FileSelect type="file" accept=".pdf" [uploader]="uploader" *ngIf="field.type.name=='string' && field.properties['type']=='file' && !isReadonly(field.validationConstraints)"  (change)="fileSelectionChanged(field)"/>
                                <input type="text" name={{field.id}} [(ngModel)]="field.value.value"   *ngIf="field.type.name=='string' && field.properties['type']=='file' && !isReadonly(field.validationConstraints)" class="form-control" id="{{field.id}}" hidden="true">


                                <ng-template #contentPdf let-modal>
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">PDF</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <ngx-extended-pdf-viewer [src]="src" useBrowserLocale="true" height="70vh"></ngx-extended-pdf-viewer>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('uspeh')">Save</button>
                                  </div>
                                </ng-template>

                                <button type="button" class="btn btn-outline-primary" (click)="openPdf(contentPdf)" *ngIf="field.properties['type']=='file' && isReadonly(field.validationConstraints)">View pdf</button>


                              
                              <div class="text-danger">
                                {{field.errMsg}}
                              </div>
                          </div>
                          <input type="submit" class="btn btn-primary" >
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
